<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <button>
      <a class="navbar-brand" href="">Bookmarks</a>
      </button>
    </div>

  </div>
</nav>
<div class="container">
  <div class="row">
      <h1>
        <a href="http://www.google.com">Google</a>
        <small>lets you search for stuff</small>
      </h1>
    <br>
     <h1>
        <a href="http://www.facebook.com">Facebook</a>
        <small>lets you connect to people online</small>
      </h1>
    <br>
     <h1>
        <a href="https://www.nitrous.io">Nitrous</a>
        <small>lets you make code online</small>
      </h1>
    </div>
  </div>
</div>